VITE_SUPABASE_URL=https://gboatxlunzxpcjmexzny.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdib2F0eGx1bnp4cGNqbWV4em55Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1Njc4NTYsImV4cCI6MjA4ODE0Mzg1Nn0.t7BP45y6AFF6SLVanczS8IOrcNSDLXB5Ytnpe8r_AMQ
